@model ERPInventoryPurchesSystems.Models.Master.Department

<h2>Create Department</h2>

<form asp-action="AfterCreateDepartment" method="post">
    @Html.Partial("DepartmentFormFields", Model)
    <button type="submit" class="btn btn-success mt-3">Save Department</button>
</form>
