@model ERPInventoryPurchesSystems.Models.Master.Department
@{
    ViewData["Title"] = "Delete Department";
}
<h2>Delete Department</h2>
<h4>Are you sure you want to delete this department?</h4>
<dl class="row">
    <dt class="col-sm-4">Code</dt>
    <dd class="col-sm-8">@Model.DepartmentCode</dd>
    <dt class="col-sm-4">Name</dt>
    <dd class="col-sm-8">@Model.DepartmentName</dd>
</dl>
<form asp-action="DeleteDepartmentConfirmed" method="post">
    <input type="hidden" asp-for="DepartmentCode" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="DepartmentList" class="btn btn-secondary">Cancel</a>
</form>