@model ERPInventoryPurchesSystems.Models.Master.Category

<h2>Create Category</h2>

<form asp-action="CreateCategory" method="post">
    @Html.Partial("CategoryFormFields", Model)
    <button type="submit" class="btn btn-success mt-3">Save Category</button>
</form>
