@model ERPInventoryPurchesSystems.Models.Master.Item
@{
    ViewData["Title"] = "Create Item";
}
<h2>Create Item</h2>
<form asp-action="AfterCreateItem" method="post">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="ItemCode"></label>
            <input asp-for="ItemCode" class="form-control" />
            <span asp-validation-for="ItemCode" class="text-danger"></span>

            <label asp-for="ItemName"></label>
            <input asp-for="ItemName" class="form-control" />
            <span asp-validation-for="ItemName" class="text-danger"></span>

            <label asp-for="ItemCategoryCode">Category</label>
            <select asp-for="ItemCategoryCode" class="form-control" asp-items="ViewBag.Categories">
                <option value="">--Select Category--</option>
            </select>
            <span asp-validation-for="ItemCategoryCode" class="text-danger"></span>

            <label asp-for="PreferredVendorCode">Vendor</label>
            <select asp-for="PreferredVendorCode" class="form-control" asp-items="ViewBag.Vendors">
                <option value="">--Select Vendor--</option>
            </select>
            <span asp-validation-for="PreferredVendorCode" class="text-danger"></span>

            <label asp-for="UOM"></label>
            <input asp-for="UOM" class="form-control" />
            <span asp-validation-for="UOM" class="text-danger"></span>

            <label asp-for="SellingPrice"></label>
            <input asp-for="SellingPrice" class="form-control" />
            <span asp-validation-for="SellingPrice" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ItemDescription"></label>
            <textarea asp-for="ItemDescription" class="form-control"></textarea>

            <label asp-for="ItemType"></label>
            <input asp-for="ItemType" class="form-control" />

            <label asp-for="HSNSACCode"></label>
            <input asp-for="HSNSACCode" class="form-control" />

            <label asp-for="Brand"></label>
            <input asp-for="Brand" class="form-control" />

            <label asp-for="ModelSpecification"></label>
            <input asp-for="ModelSpecification" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-success mt-3">Save Item</button>
</form>
