@model ERPInventoryPurchesSystems.Models.Master.Item
@{
    ViewData["Title"] = "Delete Item";
}
<h2>Delete Item</h2>
<h4>Are you sure you want to delete this item?</h4>
<dl class="row">
    <dt class="col-sm-4">Item Code</dt>
    <dd class="col-sm-8">@Model.ItemCode</dd>
    <dt class="col-sm-4">Item Name</dt>
    <dd class="col-sm-8">@Model.ItemName</dd>
    <dt class="col-sm-4">Category</dt>
    <dd class="col-sm-8">@Model.Category?.CategoryName</dd>
    <dt class="col-sm-4">Vendor</dt>
    <dd class="col-sm-8">@Model.PreferredVendor?.VendorName</dd>
</dl>
<form asp-action="DeleteItemConfirmed" method="post">
    <input type="hidden" asp-for="ItemCode" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="ItemList" class="btn btn-secondary">Cancel</a>
</form>
