@model ERPInventoryPurchesSystems.Models.Master.Item
@{
    ViewData["Title"] = "Edit Item";
}
<h2>Edit Item</h2>
<form asp-action="AfterEditItem" method="post">
    <input type="hidden" asp-for="ItemCode" />
    <div class="row">
        <div class="col-md-6">
            <label asp-for="ItemName"></label>
            <input asp-for="ItemName" class="form-control" />

            <label asp-for="ItemCategoryCode">Category</label>
            <select asp-for="ItemCategoryCode" class="form-control" asp-items="ViewBag.Categories">
                <option value="">--Select Category--</option>
            </select>

            <label asp-for="PreferredVendorCode">Vendor</label>
            <select asp-for="PreferredVendorCode" class="form-control" asp-items="ViewBag.Vendors">
                <option value="">--Select Vendor--</option>
            </select>

            <label asp-for="UOM"></label>
            <input asp-for="UOM" class="form-control" />

            <label asp-for="SellingPrice"></label>
            <input asp-for="SellingPrice" class="form-control" />
        </div>
        <div class="col-md-6">
            <label asp-for="ItemDescription"></label>
            <textarea asp-for="ItemDescription" class="form-control"></textarea>

            <label asp-for="ItemType"></label>
            <input asp-for="ItemType" class="form-control" />

            <label asp-for="HSNSACCode"></label>
            <input asp-for="HSNSACCode" class="form-control" />

            <label asp-for="Brand"></label>
            <input asp-for="Brand" class="form-control" />

            <label asp-for="ModelSpecification"></label>
            <input asp-for="ModelSpecification" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
</form>
